<<<<<<< HEAD
/*Import colors*/

@import "10-colors.scss";

.red {
    color: $red;
}
  
.green {
    color: $green;
}
  
.blue {
    color: $blue;
}
=======
/*Import colors*/

@import "10-colors.scss";

.red {
    color: $red;
}
  
.green {
    color: $green;
}
  
.blue {
    color: $blue;
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
