<<<<<<< HEAD
/*More media queries*/

h1 {
    font-size: 20px;
    @media screen and (max-width: 960px) {
        font-size: 18px;
    } 
    @media screen and (max-width: 640px) {
        font-size: 16px;
    }
    @media screen and (max-width: 320px) {
        font-size: 14px;
        &.small {
            color: #1D1D1D;
        }
    }
}
=======
/*Columns and operatiors*/

@for $i from 1 through 4 {
    .col-#{$i} {
        width: 100%/$i;
    }
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
