<<<<<<< HEAD
/*Nesting tags*/

body {
    margin: 0px;
    padding: 0px; 
    p {
      margin: 10px; 
    }
}
=======
/*Nesting tags*/

body {
    margin: 0px;
    padding: 0px; 
    p {
      margin: 10px; 
    }
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
