<<<<<<< HEAD
/*Nesting Class*/

body {
    color: #3D3D3D; 
    .red {
      color: #FF0000; 
    }
}
=======
/*Nesting Class*/

body {
    color: #3D3D3D; 
    .red {
      color: #FF0000; 
    }
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
