<<<<<<< HEAD
/*Nesting Hover*/

button {
    color: #FF0000; 
    &:hover {
      color: #00FF00;
    }
}
=======
/*Nesting Hover*/

button {
    color: #FF0000; 
    &:hover {
      color: #00FF00;
    }
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
