<<<<<<< HEAD
/*Nesting Deeper*/

body {
    font-size: 14px;
    h1 {
      font-size: 16px;
      &.smaller {
        font-size: 12px;
    }}       
}
=======
/*Nesting Deeper*/

body {
    font-size: 14px;
    h1 {
      font-size: 16px;
      &.smaller {
        font-size: 12px;
    }}       
}
>>>>>>> 2ba8aa57664c9a1471307f11e574e37aec505ad4
